.p-4.shadow-4.rounded-3.text-center{style: "background-color: hsl(0, 0%, 94%);"}
  %h2 Welcome to Marathon!
  %p
    This is a simple hero unit, a simple jumbotron-style component for calling extra
    attention to featured content or information.
  %hr.my-4/
  %p
    It uses utility classes for typography and spacing to space content out within the
    larger container.

  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary mr-3'
  = link_to 'Login', new_user_session_path, class: 'btn btn-outline-secondary'
