- @user ||= current_user
.d-flex.justify-content-start.rounded-3.p-2.mb-2
  %div
    %p.small.text-muted.mb-1
      Posts
    %p.mb-0 41

  .px-3
    %p.small.text-muted.mb-1
      Followers
    %p.mb-0
      %a{href: "#{followers_user_path(@user)}"}
        = @user.followers.count

  %div
    %p.small.text-muted.mb-1
      Following
    %p.mb-0
      %a{href: "#{following_user_path(@user)}"}
        = @user.following.count
