= form_for @fuel_option do |f|
  = render "shared/error_messages", object: f.object

  -# .form-outline.mb-4
  -#   = f.label :weight
  -#   = f.text_field :weight, class: "form-control", autofocus: true
  -# .form-outline.mb-4
  -#   = f.label :distance
  -#   = f.text_field :distance, class: "form-control", autofocus: true
  -# .form-outline.mb-4
  -#   = f.label :elevation
  -#   = f.text_field :elevation, class: "form-control", autofocus: true
  -# .form-outline.mb-4
  -#   = f.label :estimate_time
  -#   = f.text_field :estimate_time, class: "form-control", autofocus: true
  -# .form-outline.mb-4
  -#   = f.label :temperature
  -#   = f.select :temperature, TemperatureRange.map{ |p| [p.text, p] }, {}, {class: "form-control"}
  -#
  -# .form-outline.mb-4
  -#   = f.label :estimate_start
  -#   = f.select :estimate_start, TimeBeforeRunning.map{ |p| [p.text, p] }, {}, {class: "form-control"}

  = f.submit 'Save', class: "btn btn-lg w-100 btn-primary mb-3"
